@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

body {
	font-family: 'Titillium Web', sans-serif;
	color: $black;
}

.page-title {
	margin-top: 4rem;
	margin-bottom: 2rem;
}
